<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New Student</title>  
    </head>
    <body>
        <h1>Create Student: </h1>
<form th:method="POST" th:action="@{/students}" th:object="${student}">
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <input type="text" th:field="*{sureName}" placeholder="sureName"/>  
    <div th:if="${#fields.hasErrors('sureName')}" th:errors="*{sureName}">Surname error</div>

    <input type="text" th:field="*{fatherName}" placeholder="fatherName"/>  
    <div th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">Father's Name error</div>
    <br>
    <input type="submit" value="Create"/>
</form>
    </body>
</html>